.first-div{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main-content{
    background-color: red;
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.img-div{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-div img{
    border-radius: 50%;
    margin: 10px;
}
.img-div a{
    text-decoration: none;
    padding-bottom: 10%;
}

.label-div{
    background-color: seagreen;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.name-div{
    background-color: crimson;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.occu{
    background-color: darkmagenta;
}
.comp{
    background-color: orangered;
}
.loc-div{
    display: flex;
    flex-direction: row;
    background-color: dimgrey;
}
.button-div{
    display: flex;
    flex-direction: row;
    background-color: grey;
}